<div>
  <div>
    <h1>
      Board #<%= @the_board.id %> details
    </h1>

    <div>
      <div>
        <a href="/boards">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_board/<%= @the_board.id %>">
          Delete board
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_board.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_board.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_board.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Add post
    </h2>

    <form action="/insert_post"  method="post" >
      <div>
        <input type="hidden" name="query_board_id" value="<%= @the_board.id %>" >
      </div>
      <div>
        <label for="title_box">Title</label>
        <input type="text" id="title_box" name="query_title">
      </div>
            <div>
        <label for="body_box">Body</label>
        <input type="text" id="body_box" name="query_body">
      </div>
      <div>
        <label for="expires_box">Expires on</label>
        <input type="date" id="expires_box" name="query_expires_on">
      </div>

      <button>
        Add post
      </button>
    </form>
  </div>
</div>

<hr>

<h2>Posts</h2>

<table border="1">
  <tr>
    <th>
      Title
    </th>

    <th>
      Body
    </th>

    <th>
      Expires on
    </th>

    <th>
      Created on
    </th>

    <th>
    </th>
  </tr>

  <% posts = @the_board.posts %>

  <% posts.each do |post| %>
    <tr>
      <td>
        <%= post.title %>
      </td>

      <td>
        <%= post.body %>
      </td>

      <td>
        <%= post.expires_on %>
      </td>

      <td>
        <%= post.created_at %>
      </td>
    </tr>
  <% end %>
</table>
